@{
    ViewBag.Title = "About";
}

<div class="row aboutPage">
    <div class="col-md-4">
        <img src="~/images/HeadTrainer.jpg" alt="Head Trainer" />
    </div>

    <div class="col-md-8">
        <h1>About Our Professional Trainers</h1>

        <div class="row">
            <img src="~/images/STL Training Club Logo.png" alt="Saint Louis Training Club Logo" id="TrainingClubLogo" />
            <p>
                Head trainer, Michelle Charboneau, CPDT-KA, has a BA in Psychology and a Masters of Business Administration from the University of Missouri.
                She has been training dogs since 2009 when she began volunteering at an animal shelter.
            </p>
        </div>

        <div class="row">
            <img src="~/images/APDT Logo.jpg" alt="APDT Logo" id="APDTLogo" />
            <p>
                While working at the shelter, she was frustrated to discover that dogs adopted out as adorable puppies were often returned as out-of-control adults
                for "bad" behavior.  The behavior was typically due to nothing more than a lack of training.
            </p>
        </div>

        <div class="row">
            <img src="~/images/Karen Pryor Logo.png" alt="Karen Pryor Logo" id="KarenPryorLogo" />
            <p>
                In 2010, Michelle completed the Assistant Trainers course offered by the Greater Saint Louis Training Club, and learned that positive reinforcement training
                is really about encouraging communication between pets and their people rather the obedience.  In 2013, Michelle completed the Karen Pryor Academy Dog Trainer Program.
            </p>
        </div>

        <div class="row">
            <img src="~/images/PPG Logo.png" alt="Pet Professional Guild Logo" id="PPGLogo" />
            <p>
                She is a member of the Greater Saint Louis Training Club, the Pet Professional Guild, the Association of Profession Dog Trainers, and the Maryland Heights Chamber of Commerce.
            </p>
        </div>
        
        <div class="row">
            <p>
                In 2014, Michelle earned her Animal Welfare Certificate through the St. Louis Community College.  She lives with her three rescue pups, Ava, Lily, and Oreo.
            </p>
        </div>
    </div>

</div>


