
@{
    ViewBag.Title = "Pricing";
}

<div class="row pricingPage">
    <div class="col-md-12">
        <h2>Private Lessons</h2>

        <p>
            Initial Consultation $75
        </p>

        <p class="well text-danger">
            ***50% off Initial Consultation for adopters of shelter or rescue dogs
        </p>

        <p>
            Single 60-Minute Lesson $75<br />
            3 Lesson Package $200<br />
            5 Lesson Package $300<br />
        </p>

        <p>
            For packages, choose from behaviors including Sit, Down, Stay, Loose Leash Walking, Four on the Floor,
            Targeting, Off, Recall, Go to Mat and many, many more....We can discuss your training goals at your Initial Consultation!
        </p>

        <h2>Group Classes</h2>
        <p>
            5-Lesson Package $125<br />
            Each additional lesson $25<br />
        </p>
        <p>
            Behavior Basics' open enrollment format is designed for maximum convenience. Determine the behaviors you want your dog to learn and purchase a ticket
            for between 5 and 8 classes to teach those skills! There will be no more than 5 students in each class so each student can get the attention he needs
            to develop into the perfect pooch companion!
        </p>
    </div>

</div>