
@{
    ViewBag.Title = "Services";
}

<div class="row servicesPage">
    <div class="col-md-12 text-center">
        <h2>Menu of Services</h2>

        <div class="row">
            <div class="col-md-4">
                <img src="~/images/Private puppy.jpg" alt="Puppy" id="puppyImage" />
            </div>
            <div class="col-md-8 text-left">
                <h3>Private Lessons</h3>

                <p>
                    Whether you are looking for Basic Manners for your new puppy or your "new-to-you" adult dog, or you want to teach your dog some clever tricks to impress your friends,
                    Pooch Positive will tailor a training plan to address your individual needs. Call today to schedule a private consultation to discuss your training needs.
                    We offer reasonably priced lessons and packages for all your training goals.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 text-left">
                <h3>Group Classes</h3>

                <p>
                    Pooch Positive is proud to partner with K9 Kabana to offer Group Classes. K9 Kabana is a beautiful dog boarding and day camp facility in St. Charles County.
                    Behavior Basics offers an open registration format for flexible enrollment for maximum convenience for busy dog parents. Call or email today to find out more!
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/images/K9Kabana logo.jpg" alt="K9Kabana Logo"/>
            </div>
        </div>

    </div>

</div>