/* Based on the excellent article by Osvaldas Valutis
  https://css-tricks.com/drag-and-drop-file-uploading/
*/

.dropbox {
    font-size: 1.25rem; /* 20 */
    position: relative;
    padding: 20px;
    width:190px;

}

.dropbox.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.dropbox.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #c8dadf;
}

.js .dropbox__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position:absolute;
    z-index: -1;
}

.js .dropbox__file + label {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.js .dropbox__file + label:hover strong,
.dropbox__file:focus + label strong,
.dropbox__file.has-focus + label strong {
    color: #39bfd3;
}

.js .dropbox__file:focus + label,
.js .dropbox__file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.js .dropbox__file + label * {
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .dropbox__file + label {
    display: none;
}

.no-js .dropbox {
    display:none;
}


