
@{
    ViewBag.Title = "DropTest";
}

<h2>DropTest</h2>

<link href="~/Content/draganddrop.css" rel="stylesheet" />
<link href="~/Content/resizeandcrop.css" rel="stylesheet" />


@using (Html.BeginForm("DropTest", "Dogs", null, FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="dropbox text-center col-md-2">
            <input type="file" name="upload" id="files" class="dropbox__file" single />
            <label for="files" class="btn btn-warning"><strong>Choose image</strong></label>
            <div class="dropzone">
                <img src="~/images/thumbnails/DogNoImage.png" class="thumbnail" />
            </div>
            <button> Submit </button>
        </div>

        <div class="col-md-6 text-center">
            <div class="component">
                <img class="component-image" src="~/images/thumbnails/DogNoImage.png" alt="image for resizing">
                <button type="button" class="btn btn-crop js-crop">Crop<img class="icon-crop" src="~/images/crop.svg"></button>
                <button type="button" class="btn btn-done js-done">Done <span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>

}

@section scripts {
    <script src="~/Scripts/myapps/draganddrop.js"></script>
}