
<link href="~/Content/cropper.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/draganddrop.css" rel="stylesheet" />


    <div class="row">
        <div class="dropbox text-center col-md-3">
            <input type="file" name="upload" id="files" class="dropbox__file" accept="image/*" single />
            <label for="files" class="btn btn-default"><strong>Choose image</strong></label>
            <div class="dropzone img-preview">
                @{
                    if (Model != null && Model.ThumbnailID != 0)
                    {
                        <img src="~/File?id=@Model.ThumbnailID" default-image="/images/thumbnails/DogNoImage.png" class="thumbnail" alt="thumbnail" />
                    }
                    else
                    {
                        <img src="~/images/thumbnails/DogNoImage.png" class="thumbnail" alt="thumbnail" />
                    }
                }
            </div>
        </div>

        <div class="col-md-9">
            <!-- <h3 class="page-header">Demo:</h3> -->
        </div>
        <div class="col-md-9">
            <div id="imageEditor" class="img-container hidden">
                <img id="image" src="" alt="Picture">
                <button type="button"class="btn btn-crop">Crop</button>
            </div>
        </div>

    </div>


@section scripts {
    <script src="~/Scripts/myapps/cropper.min.js"></script>
    <script src="~/Scripts/myapps/draganddrop.js"></script>
}