
@{
    ViewBag.Title = "DropTest";
}

<h2>DropTest</h2>

<link href="~/Content/draganddrop.css" rel="stylesheet" />

@using (Html.BeginForm("DropTest", "Dogs", null, FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="dropbox text-center">
        <input type="file" name="upload" id="files" class="dropbox__file"  single />
        <label for="files" class="btn btn-warning"><strong>Choose image</strong></label>
        <div class="dropzone">
            <img src="~/images/thumbnails/DogNoImage.png" class="thumbnail" />
        </div>
    </div>
}

@section scripts {
<script src="~/Scripts/draganddrop.js"></script>
}